

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --main-color: #1C2148;
    --bbackground-color: #161A34;
    --assistant: #f3d33a;
    --titels: cadetblue;
    --sun-theam: white;
    --danger: #ed6464;
    --info: rgb(135, 222, 239);
    --success: rgb(147, 227, 147);
    --desine-one: #81ecec;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1C2148;
    color: var(--sun-theam);
    height: 85vh;
}

::selection {
    background: #7584d854;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--bbackground-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--desine-one);
    border-radius: 10px;
    height: 100px;
}

input[type=file]::file-selector-button {
    border: 2px solid var(--sun-theam);
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #5b55ad;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}

.input:focus {
    outline: var(--desine-one);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    width: 900px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    /* top: -100%; */
    top: 3%;
    opacity: .7;
    left: 50px;
}

.danger {
    background-color: var(--danger);
}

.info {
    background-color: var(--info);
    color: black;
}

.success {
    background-color: var(--success);
}

.text-center {
    text-align: center;
}

.back-btn {
    position: absolute;
    text-align: center;
    left: 64%;
    top: 14%;
    margin: 0;
    padding: 10px;
    display: inline;
}





/* Start Deopdown js */
        .dropbtn {
            color: var(--therd-color);
            padding: 5px;
            font-size: 16px;
            border: none;
            width: fit-content;
            height: auto;
            cursor: pointer;
            z-index: 1000;
            background-color: inherit;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: inherit;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 243px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1000;
            border-radius: 5px;
            left: -50px;
            top: 35px;
            transition-timing-function: ease-in-out;
            transition-duration: 2s;
            transition-delay: 1s;
        }

        .dropdown-content::before {
            content: "";
            position: absolute;
            display: block;
            transform: rotate(318deg);
            border-color: red;
            border-style: solid;
            border-bottom: transparent;
            border-right: transparent;
            border-left: transparent;
            border-top: 30px solid #f1f1f1;
            z-index: -1;
            left: 62px;
            width: 30px;
            top: -8px;
        }

        .dropdown-content a {
            color: #2c2a1f;
            padding: 12px 0px;
            text-decoration: none;
            display: block;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            position: relative;
            border-radius: 10px;
        }



        .dropdown-content a:hover {
            background-color: #ddd;
            
            transform: perspective(100px) translateZ(10px);
        }

        .show {display:block;}


/* End Deopdown */



/* Start  title page */
.h-title {
    text-align: center;
    margin-top: 20px;
    background-color: var(--titels);
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}
/* End  title page */


/* Start forms */

.parent {
    height: 800px;
    transform: translate(-50px, 20px);
}

.form {
    width: 40%;
    position: relative;
    left: 35%;
}

.parent-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.icon-in-input {
    position: relative;
    top: 52px;
    z-index: 200;
    width: fit-content;
    left: 20px;
    color: black;
}

.label-input {
    font-weight: bold;
    opacity: .7;
    position: relative;
    top: 30px;
    margin-bottom: 5px;
}

.input {
    padding: 13px 50px;
    border-radius: 7px;
    font-size: 15px;
    margin-top: 15px;
    outline: none;
    border: none;
}

.file-input {
    background-color: var(--sun-theam);
}

.form-btn {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--assistant);
    width: 150px;
    height: 40px;
    color: black;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    border: none;
    outline: none;
}

.form-btn:hover {
    cursor: pointer;
    background-color: var(--sun-theam);
    transform: perspective(100px) translateZ(10px);
}

/* End forms */