

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --main-color: #1C2148;
    --bbackground-color: rgba(0, 0, 0, 0.5);
    --assistant: #f3d33a;
    --titels: cadetblue;
    --titles-two: #1da4f2;
    --sun-theam: #fff;
    --color-cat-three: #81ecec;
    --danger: #ed6464;
    --info: rgb(135, 222, 239);
    --main-cat-tow: #1da4f2;
    --success: rgb(147, 227, 147);
    --desine-one: #81ecec;
    --color-cards: #ce596d8c;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    background: linear-gradient(#393f4a, #30455e);
}

body {
    /* background-color: #1C2148; */
    background: linear-gradient(#393f4a, #30455e);
    color: var(--sun-theam);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::selection {
    background: #7584d854;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--bbackground-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--desine-one);
    border-radius: 10px;
    height: 100px;
}

input[type=file]::file-selector-button {
    border: 2px solid var(--sun-theam);
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #5b55ad;
    transition: 1s;
    background-color: rgb(223, 223, 223);
}

textarea {
    resize: none;
    outline: none;
    padding: 20px 15px ;
    /* background-color: rgb(223, 223, 223); */
}

input, select, input[type=file] {
    background-color: rgb(236, 233, 233);
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}

.input:focus {
    outline: var(--desine-one);
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

table  {
    overflow: hidden;
}

table tr td {
    vertical-align: middle !important;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .contenar {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992) {
    .contenar {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .contenar {
        width: 1170px;
    }
}


.alert {
    text-align: center;
    width: 360px;
    position: relative;
    left: 50%;
    top: 11px;
    transform: translate(-50%);
    padding: 10px;
}

.danger {
    background-color: var(--danger);
}

.info {
    background-color: var(--info);
    color: black;
}

.success {
    background-color: var(--success);
}

.text-center {
    text-align: center;
}

.back-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #1da4f2;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 4px;
    letter-spacing: 4px;
    transform: translateX(-50%);
    width: 100%;
}

.back-btn:hover {
    color: #fff;
    background: var(--main-cat-tow);
}



.add-btn {
    background-color: var(--bbackground-color);
    padding: 10px;
    margin-left: 5px;
    transition: .2s ease-in-out;
    color: white;
}

.add-btn:hover {
    transform: perspective(100px) translateZ(10px);
    opacity: .6;
}



/* Start Deopdown js */
        .dropbtn {
            color: var(--therd-color);
            padding: 5px;
            font-size: 16px;
            border: none;
            width: fit-content;
            height: auto;
            cursor: pointer;
            z-index: 1000;
            background-color: inherit;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: inherit;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 243px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1000;
            border-radius: 5px;
            left: -50px;
            top: 35px;
            transition-timing-function: ease-in-out;
            transition-duration: 2s;
            transition-delay: 1s;
        }

        .dropdown-content::before {
            content: "";
            position: absolute;
            display: block;
            transform: rotate(318deg);
            border-color: red;
            border-style: solid;
            border-bottom: transparent;
            border-right: transparent;
            border-left: transparent;
            border-top: 30px solid #f1f1f1;
            z-index: -1;
            left: 62px;
            width: 30px;
            top: -8px;
        }

        .dropdown-content a {
            color: #2c2a1f;
            padding: 12px 0px;
            text-decoration: none;
            display: block;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            position: relative;
            border-radius: 10px;
        }



        .dropdown-content a:hover {
            background-color: #ddd;
            
            transform: perspective(100px) translateZ(10px);
        }

        .show {display:block;}


/* End Deopdown */



/* Start  title page */
.h-title {
    text-align: center;
    margin-top: 20px;
    color: var(--titels);
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 30px;
}
/* End  title page */


/* Serch */
.saerch-table {
    border: 1px solid var(--color-cat-three);
    border-radius: 5px;
    display: inline-block;
}

.saerch-table input {
    border: none;
    outline: none;
    text-transform: capitalize;
    width: 200px;
    height: 30px;
    font-size: 14px;
    background-color: transparent;
    padding: 0 10px;
    color: var(--sun-theam);
}

.saerch-table i {
    color: var(--color-cat-three);
}

.search-ul {
    margin-top: 20px;
    text-align: center;
}

.search-li {
    padding: 13px 0;
    /* box-shadow: 0 0 3px #000; */
    font-size: 15px;
    color: var(--color-cat-three);
    margin: 8px 0;
    cursor: pointer;
}


/* Start Skills Bar */
.under {
    width: 100%;
    background-color: #fff;
    height: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.under::before {
    content: "";
    width: 20%;
    background-color: var(--bbackground-color);
    height: 10px;
    border-radius: 10px;
    margin-top: 5px;
    position: relative;
    display: block;
}
/* End Skills Bar */

/* Separator */
.separator {
    margin-top: 15px;
    border-bottom: 1px solid;
    opacity: .6;
}

/* Null image */
.null-img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}