
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,500&display=swap');
/* Global Configrations */
:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900 : #302e4d;
    --text-black-700 : #504e70;
    --danger--900: #fb6262;
}
body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900 : #ffffff;
    --text-black-700 : #e9e9e9;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::selection {
    color: var(--skin-color);
}
::before::after {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.shadow-dark {
    box-shadow: 0  0 20px rgba(48, 46, 77, 0.15);
}
.hidden {
    display: none !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.alert-validation {
    position: relative;
    line-height: 17px;
    color: white;
    font-size: 13px;
    width: 300px;
    text-align: center;
    height: inherit;
}
.danger {
    background: var(--danger--900);
}
.success {
    border: 1px solid var(--skin-color) !important;
}
.info {
    background: rgb(126 198 255);
    color: var(--text-black-700);
}
a.active {
    color: var(--skin-color);
}
/* Start Simple Alert Massage */
.mass {
    position: fixed;
    right: 0;
    top: 5px;
    width: auto;
    transition: all .3s ease;
}
.content-mass {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-mass p {
    color: #4e3f3f;
    font-size: 15px;
}
.content-mass span {
    width: 24px;
    height: 24px;
    margin-right: 7px;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    justify-content: center;
    font-weight: 900;
}
.content-mass span:hover {
    opacity: .6;
}
/* End Simple Alert Massage */
/* Start navigation Bar */
.nav-front {
    width: calc(100% - 250px);
    position: relative;
}
.contaner-navigation-bar {
    left: 250px;
    position: relative;
    margin: 0;
    max-width: 100%;
    background: var(--bg-black-50);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.contaner-navigation-bar .profile-pictuer {
    width: 50px;
    height: 45px;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
}
.contaner-navigation-bar ul {
    display: flex;
    justify-content: center;
}
.contaner-navigation-bar ul li {
    margin-left: 24px;
}
.contaner-navigation-bar ul li a {
    color: var(--text-black-700);
    padding-bottom: 5px;
    transition: all .1s ease-in-out;
    width: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.contaner-navigation-bar ul li a.active{
    color: var(--skin-color);
}
.contaner-navigation-bar ul li:hover a {
    border-bottom: 3px solid var(--skin-color);
}
.aside-profile-page {
    overflow: hidden;
    position: absolute !important;
}
.aside-profile-page nav {
    margin-top: 100px;
}
.aside-profile-page nav .edit-profile {
    width: 100%;
    background: #00000033;
    position: relative;
    left: 59px;
    top: 167px;
    border-radius: 3px;
    color: var(--text-black-700);
    padding: 0 11px;
}
.aside-profile-page nav .edit-profile:hover {
    box-shadow: 2px 2px 4.4px #706464;
}
.aside-profile-page nav  .contanier-section {
    border-bottom: 1px solid;
    margin-bottom: 7px;
    padding-bottom: 20px;
}
.aside-profile-page nav  .contanier-section h4 {
    text-align: left;
    margin: 9px 0;
    font-size: 15px;
    color: var(--text-black-700);
}
.aside-profile-page nav  ul li {
    border-bottom: none;
    margin-bottom: 15px;
    
}
.aside-profile-page nav  ul li .content-ul  label {
    display: block;
    background: var(--bg-black-50);
    padding: 2px 7px;
    font-size: 16px;
    border-radius: 5px;
    color: var(--text-black-900);
    font-weight: 300;
    margin-bottom: 10px;
}
.aside-profile-page nav  ul li .content-ul  .prosses {
    display: block;
    width: 100%;
    height: 20px;
    background: var(--skin-color);
    position: relative;
    border-radius: 5px;
}
.aside-profile-page nav  ul li .content-ul  .prosses .back {
    position: absolute;
    top: 0;
    width: 30%;
    height: 20px;
    background: var(--text-black-700);
    border-radius: 4px;
}
.aside-profile-page nav  ul li .content-ul  .prosses .rate {
    color: var(--text-black-900);
}
.nav-front .contanier-options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.nav-front .contanier-options .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-black-100);
    width: auto;
    padding: 1px 4px;
    color: var(--text-black-700);
    border-radius: 3px;
    cursor: pointer;
}
.nav-front .contanier-options .dropdown span {
    margin-right: 5px;
}
.nav-front .contanier-options .dropdown #down {
    display: inline-block;
}
.nav-front .contanier-options .dropdown i:last-child {
    display: none;
}
.nav-front .contanier-options  .ul-dropdown {
    display: none;
    width: auto;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    right: 15%;
    top: 55px;
    padding: 20px;
    text-align: center;
    background: var(--bg-black-900);
    box-shadow: 5px 2px 21px #3f3c3c;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.nav-front .contanier-options  .ul-dropdown::after {
    content: "";
    width: 30px;
    display: block;
    position: absolute;
    top: -7px;
    left: 55px;
    transform: rotate(-45deg);
    border-color: var(--bg-black-900);
    border-style: solid;
    border-left: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-top: 30px solid var(--bg-black-900);
    z-index: -5;
}
.nav-front .contanier-options  .ul-dropdown li  {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    display: block;
    border-bottom: none !important;
}
.nav-front .contanier-options  .ul-dropdown li:hover {
    background-color: #ddd;
    transform: perspective(100px) translateZ(10px);
}
.nav-front .contanier-options  .ul-dropdown li a {
    border-bottom: none !important;
    transition: all .3s ease-in-out;
}
/* End navigation Bar */
/* Start Login Signup */
aside {
    width: 250px;
    height: 100%;
    background: var(--bg-black-100);
    position: fixed;
    border-right: 1px solid var(--bg-black-50);
    top: 0;
    left: 0;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}
aside a {
    color: var(--text-black-900);
}
aside  .logo {
    display: block;
    position: absolute;
    top: 50px;
    font-size: 25px;
    text-transform: capitalize;
}
aside  .logo::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: var(--skin-color);
    left: 0;
    bottom: 0;
}
aside  .logo::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: var(--skin-color);
    left: 0;
    bottom: -6px;
}
aside nav {
    margin-top: 50px;
    text-align: center;
    font-weight: 600;
}
aside nav ul .info {
    padding: 10px;
}
aside nav li {
    display: block;
    margin-bottom: 27px;
    border-bottom: 1px solid var(--bg-black-50);
    text-align: center;
}

aside nav li a {
    font-weight: 600;
    position: relative;
    display: flex;
    color: var(--text-black-700);
}
aside nav li a i {
    margin-right: 20px;
}
aside .nav-toggeler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: -250px;
    display: flex;
    top: 0;
    border-radius: 5px;
    background: var(--bg-black-100);;
    justify-content: center;
    align-items: center;
}
aside .nav-toggeler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
aside .nav-toggeler span::before {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
aside .nav-toggeler span::after {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
/* Start content */
.main-content {
    padding-left: 250px;
}
.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0 30px;
}
.login-sigup {
    position: relative;
}
.login-sigup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 600px;
    padding: 10px;
    max-width: 75%;
    margin: auto;
    background: var(--bg-black-50);
    box-shadow: 6px 3px 19px black;
    border-radius: 5px;
}
.content .title {
    text-align: center;
    display: block;
    font-weight: 600;
    position: absolute;
    top: -37px;
    left: 48%;
    transform: translateX(-50%);
    width: 100%;
}
.active-lgsin {
    color: var(--skin-color);
    background-color: var(--bg-skin-color);
    color: white;
    transform: perspective(100px) translateZ(10px);
    box-shadow: 2px 2px 4.4px #706464;
}
.un-active-lgsin {
    background: var(--bg-black-50);
    color: var(--bg-black-100);
}
.content .title .butns {
    display: flex;
}
.content .title .butns >  div {
    display: inline-block;
    cursor: pointer;
    padding: 5px 30px;
    width: 49%;
    margin-left: 31px;
    transition: all .3s ease-in-out;
}
.loginsingup-form {
    height: 100%;
}
.form-structer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form-structer .row {
    justify-content: center;
    margin-top: 30px;
}
.form-structer .row .input-item {
    width: 100%;
}
.form-structer .row .input-item label {
    display: block;
    opacity: .6;
    margin-bottom: 6px;
}
.form-structer .row .input-item input {
    width: 300px;
    display: block;
    padding: 12px 10px 12px 33px;
    outline: none;
    border: none;
}
.form-structer .row .input-item i {
    position: absolute;
    top: 41px;
    left: 25px;
}
.form-structer .row .input-item i::before {
    color: var(--skin-color);
}
.form-structer .row .input-item .btn {
    width: 150px;
    padding: 10px !important;
    background: var(--skin-color);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
.form-structer .row .input-item .btn:hover {
    box-shadow: 2px 2px 4.4px #706464;
}

@media (max-width: 696px) {
    aside {
        left: -250px;
    }
    .main-content {
        width: 100%;
        padding-left: 0;
    }
    .nav-toggeler {
        left: 0  !important;
    }
}

/* End Simple Alert */

/* Start Box Alert */
#boxAlert {
    width: 100%;
    position: absolute;
    transition-duration: 6s;
    transition-timing-function: ease-in-out;
    z-index: 200;
}
#boxAlert .contanier {
    position: fixed;
    left: 57%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: var(--text-black-700);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--bg-black-900);
} 
#boxAlert .contanier h2 {
    background: var(--skin-color);
    padding: 5px 20px;
    margin: 0;
    width: 100%;
    color: var(--text-black-700);
}
p {
    font-weight: 600;
    padding: 10px;
}
#boxAlert .contanier button {
    width: 100px;
    float: right;
    bottom: 0;
    right: 0;
    margin: 0 5px 5px 0;
    padding: 4px 0;
    position: relative;
    outline: none;
    border: none;
    border-radius: 40px;
    background: var(--skin-color);
}
#boxAlert .contanier button:hover {
    box-shadow: 0px 3px 4px 3px rgba(48, 46, 77, 0.15);
}
#overlay {
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* End Login Signup */

/* Start Profile User */
.main-contanier {
    padding-left: 250px;
    padding-left: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-contanier  .cards {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: 20px auto 20px auto;
    min-height: 10vh;
}
.main-contanier  .cards .card-statistics {
    padding: 20px 8px;
    text-align: center;
    background: var(--bg-black-50);
    width: 200px;
    margin-bottom: 10px;
    height: 100px;
    box-shadow: rgb(0 0 0 / 15%) 4.95px 4.95px 2.6px;
}
.main-contanier  .cards .card-statistics h4 {
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-black-700);
}
.main-contanier  .cards .card-statistics span {
    color: var(--text-black-900);
}

.Statistics-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    row-gap: 20px;
}
.Statistics-section .inner-section {
    margin: 0 20px;
    transition: all .3s ease-in-out;
}
.Statistics-section .inner-section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-black-900);
    padding: 5px 10px;
}
.Statistics-section .inner-section .header h4 {
    margin: 0;
    font-size: 16px;
    font-weight: unset;
    color: var(--text-black-700);
}
.Statistics-section .inner-section .header span {
    display: flex;
    align-items: center;
    background: var(--bg-black-50);
    padding: 0 4px;
    margin: 0;
    font-size: 11px;
    font-weight: unset;
    cursor: pointer;
}
.Statistics-section .inner-section .header span p {
    font-weight: unset;
    font-size: 12px;
    padding: 4px;
    color: var(--text-black-900);
    margin-right: 3px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}
.Statistics-section .inner-section .header span #up-section,
.Statistics-section .inner-section .header span #up-section-comm,
.Statistics-section .inner-section .header span #up-queue-articles {
    display: none;
}
.Statistics-section .inner-section ul {
    display: block;
}
.Statistics-section .inner-section ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}
.Statistics-section .inner-section ul li:nth-child(even) {
    background-color: var(--bg-black-50);
}
.Statistics-section .inner-section ul li:nth-child(odd) {
    background-color: var(--bg-black-100)
}
.Statistics-section .inner-section ul li p {
    font-weight: unset;
    font-size: 15px;
    padding: 2px 5px;
}
.Statistics-section .inner-section ul li a {
    padding: 2px 3px;
    font-size: 13px;
    cursor: pointer;
}
.Statistics-section .inner-section ul li a:hover {
    box-shadow: 2px 2px 4.4px rgba(0, 0, 0, .5);
}
.Statistics-section .inner-section ul li  .btn-a {
    background-color: var(--bg-black-50);
    width: 40px;
    margin-right: 3px;
    text-align: center;
}
.Statistics-section .inner-section ul li:nth-child(even)  .btn-a {
    background: var(--bg-black-100);
}
.Statistics-section .inner-section ul li:nth-child(odd) .btn-a {
    background-color: var(--bg-black-50);
}
/* End Profile User */ 