
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,500&display=swap');
/* Global Configrations */
:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900 : #302e4d;
    --text-black-700 : #504e70;
    --danger--900: #fb6262;
}
body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900 : #ffffff;
    --text-black-700 : #e9e9e9;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: all 3s ease-in-out;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::selection {
    color: var(--skin-color);
}
::before::after {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.shadow-dark {
    box-shadow: 0  0 20px rgba(48, 46, 77, 0.15);
}
.hidden {
    display: none !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.alert-validation {
    position: relative;
    line-height: 17px;
    color: white;
    font-size: 13px;
    width: 300px;
    text-align: center;
    height: inherit;
}
.danger {
    background: var(--danger--900);
}
.success {
    border: 1px solid var(--skin-color) !important;
}
.info {
    background: rgb(126 198 255) !important;
    color: var(--text-black-700);
}
.fill-btn {
    color: var(--skin-color) !important;
}
a.active {
    color: var(--skin-color);
}
.width-nav {
    left: 0 !important;
}
.width {
    width: 100% !important;
}
.background {
    background: var(--bg-black-100);
}
/* Start Simple Alert Massage */
.mass {
    position: fixed;
    right: 0;
    top: 5px;
    width: auto;
    transition: all .3s ease;
}
.content-mass {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-mass p {
    color: #4e3f3f;
    font-size: 15px;
}
.content-mass span {
    width: 24px;
    height: 24px;
    margin-right: 7px;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    justify-content: center;
    font-weight: 900;
}
.content-mass span:hover {
    opacity: .6;
}
.success-mas {
    background: rgb(137, 243, 137);
}
/* End Simple Alert Massage */
/* Start navigation Bar */
aside .nav-toggeler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: -250px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}
.nav-toggeler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.nav-toggeler span::before {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.nav-toggeler span::after {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.nav-front {
    width: calc(100% - 250px);
    position: relative;
}

.contaner-navigation-bar {
    left: 250px;
    position: relative;
    margin: 0;
    max-width: 100%;
    background: var(--bg-black-50);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.contaner-navigation-bar .profile-pictuer {
    width: 50px;
    height: 45px;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
}
.contaner-navigation-bar ul {
    display: flex;
    justify-content: center;
}
.contaner-navigation-bar ul li {
    margin-left: 24px;
}
.contaner-navigation-bar ul li a {
    color: var(--text-black-700);
    padding-bottom: 5px;
    transition: all .1s ease-in-out;
    width: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.contaner-navigation-bar ul li a.active{
    color: var(--skin-color);
}
.contaner-navigation-bar ul li:hover a {
    border-bottom: 3px solid var(--skin-color);
}
.aside-profile-page {
    overflow: hidden;
    position: absolute !important;
}
.aside-profile-page nav {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.aside-profile-page nav .edit-profile {
    background: #00000033;
    border-radius: 3px;
    width: 100%;
    color: var(--text-black-700);
    padding: 0 11px;
    float: right;
}
.aside-profile-page nav .edit-profile:hover {
    box-shadow: 0px 0px 7px rgb(0 0 0 / 15%);
}
.aside-profile-page nav  .contanier-section {
    border-bottom: 1px solid;
    margin-bottom: 7px;
    padding-bottom: 20px;
    width: 200px;
}
.aside-profile-page nav  .contanier-section:last-child {
    border-bottom: none;
}
.aside-profile-page nav  .contanier-section h4 {
    text-align: left;
    margin: 9px 0;
    font-size: 15px;
    color: var(--text-black-700);
}
.aside-profile-page nav  ul li {
    border-bottom: none;
    margin-bottom: 15px;
    
}
.aside-profile-page nav  ul li .content-ul  label {
    display: block;
    background: var(--bg-black-50);
    padding: 2px 7px;
    font-size: 16px;
    border-radius: 5px;
    color: var(--text-black-900);
    font-weight: 300;
    margin-bottom: 10px;
}
.aside-profile-page nav  ul li .content-ul  .prosses {
    display: block;
    width: 100%;
    height: 20px;
    background: var(--skin-color);
    position: relative;
    border-radius: 5px;
}
.aside-profile-page nav  ul li .content-ul  .prosses .back {
    position: absolute;
    top: 0;
    width: 30%;
    height: 20px;
    background: var(--text-black-700);
    border-radius: 4px;
}
.aside-profile-page nav  ul li .content-ul  .prosses .rate {
    color: white;
    z-index: 600;
    position: relative;
    font-weight: unset;
    font-size: 13px;
    accent-color: currentcolor;
}
.nav-front .contanier-options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.nav-front .contanier-options .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-black-100);
    width: auto;
    padding: 1px 4px;
    color: var(--text-black-700);
    border-radius: 3px;
    cursor: pointer;
}
.nav-front .contanier-options .dropdown span {
    margin-right: 5px;
}
.nav-front .contanier-options .dropdown #down {
    display: inline-block;
}
.nav-front .contanier-options .dropdown i:last-child {
    display: none;
}
.nav-front .contanier-options  .ul-dropdown {
    display: none;
    width: auto;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    right: 15%;
    top: 55px;
    padding: 20px;
    text-align: center;
    background: var(--bg-black-900);
    box-shadow: 5px 2px 21px #3f3c3c;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.nav-front .contanier-options  .ul-dropdown::after {
    content: "";
    width: 30px;
    display: block;
    position: absolute;
    top: -7px;
    left: 55px;
    transform: rotate(-45deg);
    border-color: var(--bg-black-900);
    border-style: solid;
    border-left: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-top: 30px solid var(--bg-black-900);
    z-index: -5;
}
.nav-front .contanier-options  .ul-dropdown li  {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    display: block;
    border-bottom: none !important;
}
.nav-front .contanier-options  .ul-dropdown li:hover {
    background-color: var(--bg-black-50);
    transform: perspective(100px) translateZ(10px);
}
.nav-front .contanier-options  .ul-dropdown li a {
    border-bottom: none !important;
    transition: all .3s ease-in-out;
}
/* End navigation Bar */
/* Start Login Signup */
aside {
    width: 250px;
    height: 100%;
    background: var(--bg-black-100);
    position: fixed;
    border-right: 1px solid var(--bg-black-50);
    top: 0;
    left: 0;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}
aside a {
    color: var(--text-black-900);
}
aside  .logo {
    display: block;
    position: absolute;
    top: 50px;
    font-size: 25px;
}
aside  .logo  a .part-one {
    color: var(--skin-color);
    font-size: 35px;
    text-transform: UPPERCASE;
}
aside  .logo a .part-tow {
    text-transform: none;
    left: -2px;
    position: relative;
}
aside  .logo::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: var(--skin-color);
    left: 0;
    bottom: 0;
}
aside  .logo::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--skin-color);
    left: 0;
    bottom: -6px;
}
aside nav {
    margin-top: 50px;
    text-align: center;
    font-weight: 600;
}
aside nav ul .info {
    padding: 10px;
}
aside nav li {
    display: block;
    margin-bottom: 27px;
    border-bottom: 1px solid var(--bg-black-50);
    text-align: center;
}

aside nav li a {
    font-weight: 600;
    position: relative;
    display: flex;
    color: var(--text-black-700);
}
aside nav li a i {
    margin-right: 20px;
}
aside .nav-toggeler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: -250px;
    display: flex;
    top: 0;
    border-radius: 5px;
    background: var(--bg-black-100);;
    justify-content: center;
    align-items: center;
}
aside .nav-toggeler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
aside .nav-toggeler span::before {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
aside .nav-toggeler span::after {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
/* Start content */
.contanier-profile {
    padding-left: 250px;
}
.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0 30px;
}
.login-sigup {
    position: relative;
}
.login-sigup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 600px;
    padding: 10px;
    max-width: 75%;
    margin: auto;
    background: var(--bg-black-50);
    box-shadow: 6px 3px 19px black;
    border-radius: 5px;
}
.content .title {
    text-align: center;
    display: block;
    font-weight: 600;
    position: absolute;
    top: -37px;
    left: 48%;
    transform: translateX(-50%);
    width: 100%;
}
.active-lgsin {
    color: var(--skin-color);
    background-color: var(--bg-skin-color);
    color: white;
    transform: perspective(100px) translateZ(10px);
    box-shadow: 2px 2px 4.4px #706464;
}
.un-active-lgsin {
    background: var(--bg-black-50);
    color: var(--bg-black-100);
}
.content .title .butns {
    display: flex;
}
.content .title .butns >  div {
    display: inline-block;
    cursor: pointer;
    padding: 5px 30px;
    width: 49%;
    margin-left: 31px;
    transition: all .3s ease-in-out;
}
.loginsingup-form {
    height: 100%;
}
.form-structer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form-structer .row {
    justify-content: center;
    margin-top: 30px;
}
.form-structer .row .input-item {
    width: 100%;
}
.form-structer .row .input-item label {
    display: block;
    opacity: .6;
    margin-bottom: 6px;
}
.form-structer .row .input-item input {
    width: 300px;
    display: block;
    padding: 12px 10px 12px 33px;
    outline: none;
    border: none;
}
.form-structer .row .input-item i {
    position: absolute;
    top: 41px;
    left: 25px;
}
.form-structer .row .input-item i::before {
    color: var(--skin-color);
}
.form-structer .row .input-item .btn {
    width: 150px;
    padding: 10px !important;
    background: var(--skin-color);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
.form-structer .row .input-item .btn:hover {
    box-shadow: 2px 2px 4.4px #706464;
}

@media (max-width: 696px) {
    aside {
        left: -250px;
    }
    .main-content {
        width: 100%;
        padding-left: 0;
    }
    .nav-toggeler {
        left: 0  !important;
    }
}

/* End Simple Alert */

/* Start Box Alert */
#boxAlert {
    width: 100%;
    position: absolute;
    transition-duration: 6s;
    transition-timing-function: ease-in-out;
    z-index: 200;
}
#boxAlert .contanier {
    position: fixed;
    left: 57%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: var(--text-black-700);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--bg-black-900);
} 
#boxAlert .contanier h2 {
    background: var(--skin-color);
    padding: 5px 20px;
    margin: 0;
    width: 100%;
    color: var(--text-black-700);
}
p {
    font-weight: 600;
    padding: 10px;
}
#boxAlert .contanier button {
    width: 100px;
    float: right;
    bottom: 0;
    right: 0;
    margin: 0 5px 5px 0;
    padding: 4px 0;
    position: relative;
    outline: none;
    border: none;
    border-radius: 40px;
    background: var(--skin-color);
}
#boxAlert .contanier button:hover {
    box-shadow: 0px 3px 4px 3px rgba(48, 46, 77, 0.15);
}
#overlay {
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* End Login Signup */

/* Start Profile User */
.main-contanier {
    padding-left: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-black-900);
}
.main-contanier  .cards {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: 20px auto 20px auto;
    min-height: 10vh;
}
.main-contanier  .cards .card-statistics {
    padding: 20px 8px;
    text-align: center;
    background: var(--bg-black-50);
    width: 200px;
    margin-bottom: 10px;
    height: 100px;
    box-shadow: 2px 2px 19px rgb(0 0 0 / 10%);
}
.main-contanier  .cards .card-statistics h4 {
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-black-700);
}
.main-contanier  .cards .card-statistics span {
    color: var(--text-black-900);
}
.about-you {
    margin: 20px 20px;
    background: var(--bg-black-50);
    color: var(--text-black-900);
    padding: 10px 15px;
    border-radius: 3px;
    min-height: 148px;
    width: auto;
}
.about-you .header {
    text-align: center;
    background: var(--bg-black-100);
    padding: 8px;
}
.about-you p {
    text-align: left;
}
.Statistics-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    row-gap: 20px;
}
.Statistics-section .inner-section {
    margin: 0 20px;
    transition: all .3s ease-in-out;
}
.Statistics-section .inner-section > div,
.Statistics-section .inner-section ul > li {
    box-shadow: 12px 10px 8px rgb(0 0 0 / 8%);
}
.Statistics-section .inner-section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--skin-color);
    padding: 5px 10px;
}
.Statistics-section .inner-section .header h4 {
    margin: 0;
    font-size: 16px;
    font-weight: unset;
    color: var(--text-black-700);
}
.Statistics-section .inner-section .header span {
    display: flex;
    align-items: center;
    background: var(--bg-black-50);
    padding: 0 4px;
    margin: 0;
    font-size: 11px;
    font-weight: unset;
    cursor: pointer;
}
.Statistics-section .inner-section .header span p {
    font-weight: unset;
    font-size: 12px;
    padding: 4px;
    color: var(--text-black-900);
    margin-right: 3px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}
.Statistics-section .inner-section .header span #up-section,
.Statistics-section .inner-section .header span #up-section-comm,
.Statistics-section .inner-section .header span #up-queue-articles {
    display: none;
}
.Statistics-section .inner-section .header span i {
    color: var(--skin-color);
}
.Statistics-section .inner-section ul {
    display: block;
}
.Statistics-section .inner-section ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    transition: all .3s ease-in-out;
}
.Statistics-section .inner-section ul li:nth-child(even) {
    background-color: var(--bg-black-50);
}
.Statistics-section .inner-section ul li:nth-child(odd) {
    background-color: var(--bg-black-100)
}
.Statistics-section .inner-section ul li p {
    font-weight: unset;
    font-size: 15px;
    padding: 2px 5px;
    color: var(--text-black-700);
}
.Statistics-section .inner-section ul li a {
    padding: 2px 3px;
    font-size: 13px;
    cursor: pointer;
}
.Statistics-section .inner-section ul li a:hover {
    box-shadow: 2px 2px 4.4px rgba(0, 0, 0, .5);
}
.Statistics-section .inner-section ul li  .btn-a {
    background-color: var(--bg-black-50);
    width: 40px;
    margin-right: 3px;
    text-align: center;
    color: var(--text-black-700);
}
.Statistics-section .inner-section ul li:nth-child(even)  .btn-a {
    background: var(--bg-black-100);
}
.Statistics-section .inner-section ul li:nth-child(odd) .btn-a {
    background-color: var(--bg-black-50);
}
@media (max-width: 991px) {
    .Statistics-section {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        row-gap: 40px;
    }
}
@media (max-width: 837px) {

}
@media (max-width: 767px) {
    .contanier-profile {
        padding: 0;
    }
    .nav-front {
        width: 100%;
    }
    .contaner-navigation-bar {
        left: 0 !important;
    }

}
@media (max-width: 716px) {
    .contaner-navigation-bar .profile-pictuer {
        display: none;
    }
}
/* End Profile User */ 



/* Start Edit Profile */
.layout {
    background-image: url("layout.jpeg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.layout .opacuty {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0 0 0 / 75%);
}
.layout img {
    width: 150px;
    height: 150px;
    z-index: 101;
    border-radius: 3px;
}
.layout .name {
    z-index: 101;
    position: relative;
    color: var(--bg-black-900);
}
.layout .name .id-user .title {
    font-size: 13px;
}
.edit-section  {
    position: relative;
    margin: 0 200px;
    display: flex;
    flex-direction: row;
}
.edit-section .side-section-edit {
    width: 30%;
    padding: 15px;
    min-height: 600px;
    background: var(--bg-black-900);
}
.edit-section .side-section-edit .sidebar {
    width: 100%;
    margin: auto;
    padding-top: 20px;
}
.edit-section .side-section-edit .sidebar li {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.edit-section .side-section-edit .sidebar li.active {
    background: var(--bg-skin-color);
}
.edit-section .side-section-edit .sidebar li.active i {
    color: var(--text-black-700);
}
.edit-section .side-section-edit .sidebar li:hover {
    background: var(--bg-skin-color);
}
.edit-section .side-section-edit .sidebar li:hover span {
    color: var(--bg-black-900);
}
.edit-section .side-section-edit .sidebar li:hover i {
    color: var(--text-black-700);
}
.edit-section .side-section-edit .sidebar li i {
    color: var(--skin-color);
}
.edit-section .side-section-edit .sidebar li span {
    margin-left: 20px;
    color: var(--text-black-700);
}
.edit-section .cont-type-edit {
    width: 70%;
    padding: 15px;
    min-height: 600px;
    position: relative;
    box-shadow: 0 15px 15px 7px rgb(0 0 0 / 8%);
    top: -60px;
    z-index: 105;
    background: var(--bg-black-100);
    border-radius: 10px;
}
.edit-section .cont-type-edit > div {
    margin-bottom: 50px;
    box-shadow: 3px 3px 4px rgb(0 0 0 / 8%);
}
.edit-section .cont-type-edit h4 {
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-left: 12px;
}
.edit-section .cont-type-edit .contanier-feild {
    border-bottom: 1px solid var(--bg-black-50);
    transition: all .3s ease-in-out;
    margin-top: 15px;
}
.edit-section .cont-type-edit .contanier-feild:last-child {
    border-bottom: none;
}
.edit-section .cont-type-edit .contanier-feild .row-feild {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    padding: 12px 0;
    padding-left: 12px;
    padding-right: 12px;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .name-feild {
    width: 100px;
    color: var(--text-black-700);
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild  {
    width: calc(100% - 300px);
    flex-grow: 1;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild span {
    color: var(--text-black-700);
    display: flex;
    align-items: center;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess {
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .snippet-input {
    outline: none;
    border: 1px solid var(--bg-black-50);
    padding: 7px 10px;
    width: 200px;
    color: var(--text-black-700);
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .error-mas {
    display: block;
    width: 100%;
    border: 2px solid red;
    text-align: center;
    color: white;
    background: var(--danger--900);
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess textarea {
    border: 1px solid var(--text-black-700);
    padding: 10px;
    background: var(--bg-black-900);
    overflow: hidden;
    width: 100%;
    outline: none;
    resize: none;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess #tag-contanier {
    background: var(--bg-black-50);
    display: flex;
    padding: 5px;
    align-items: center;
    flex-wrap: wrap;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .input-shills {
    height: 30px;
    background: transparent !important;
    border: none;
}
.tag {
    width: auto;
    background: var(--bg-black-100);
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 8px;
    height: 28px;
    box-shadow: 5px 5px 3px rgb(0 0 0 / 19%);
    margin-bottom: 4px;
}
.tag:hover {
    opacity: .8;
}
.tag span {
    margin-right: 6px;
}
.tag i {
    padding: 2px;
    border-radius: 50%;
    width: 17px;
    display: flex;
    justify-content: center;
    color: var(--text-black-900);
    transition: all .3s ease-in-out;
}
.tag i:hover {
    background: var(--skin-color);
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .btns {
    height: 27px;
    margin-top: 11px;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .save,
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .save-skille,
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .cancel {
    padding: 5px 10px;
    border: none;
    color: var(--text-black-700);
    margin-right: 10px;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .save:hover,
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .save-skille:hover,
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .cancel:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 20%);
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .save,
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .save-skille {
    background-color: var(--skin-color);
}
.edit-section .cont-type-edit .contanier-feild .row-feild .content-feild .contanier-proccess .cancel {
    background-color: var(--bg-black-50);
}
.edit-section .cont-type-edit .contanier-feild .row-feild .editbtn {
    width: 100px;
    text-align: right;
    color: var(--text-black-700);
    cursor: pointer;
}
.edit-section .cont-type-edit .contanier-feild .row-feild .editbtn:hover {
    text-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
}
/* End Edit Profile */


/* Start Account Section */
.privet {
    font-size: 15px;
    border-radius: 4px;
    margin-left: 10px;
    background: var(--skin-color);
    padding: 2px 5px;
    color: var(--bg-black-100) !important;
}
.theams {
    display: flex;
    justify-content: space-around;
}
.type-theam {
    cursor: pointer;
    background: var(--skin-color);
    padding: 5px;
    border-radius: 3px;
    width: 70px;
    justify-content: center;
    color: var(--bg-black-50) !important;
    font-weight: 600;
}
.type-theam:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 20%);
}
.type-theam span {
    color: var(--bg-black-50) !important;
    display: flex;
    margin-left: 8px;
}
.change-pass i {
    display: inline-block !important;
    color: var(--skin-color);
}
.change-pass span {
    display: inline-block !important;
    margin: 10px;
}
.change-pass span:hover {
    color: var(--skin-color) !important;
}
/* End Account Section */

/* Start Edit Password */
.contanier-prosess-change-pass {
    background: var(--bg-black-900);
    width: 400px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, .5);
}
.contanier-prosess-change-pass h3 {
    margin: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}
.contanier-prosess-change-pass h3 i {
    color: var(--skin-color);
}
.contanier-prosess-change-pass h3 span {
    color: var(--skin-color);
    margin-left: 10px;
}
.contanier-prosess-change-pass .form h5 {
    background: var(--bg-skin-color);
    padding: 15px;
    text-align: center;
    color: var(--text-black-900);
    margin-bottom: 20px;
    font-size: 15px;
}
.contanier-prosess-change-pass form {
    border: 2px solid var(--bg-black-50);
    padding: 20px;
}
.contanier-prosess-change-pass form .contnier-input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0;
}
.contanier-prosess-change-pass form .contnier-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 13px;
    font-family: ui-serif;
    color: var(--bg-black-50);
    pointer-events: none;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: -10;
    margin-bottom: 5px;
}
.contanier-prosess-change-pass form .contnier-input input {
    padding: 10px 3px;
    font-size: 15px;
    color: var(--text-black-900);
    margin-bottom: 23px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    outline: none;
    border: 3px solid var(--bg-black-50);
    background: transparent;
}
.contanier-prosess-change-pass form .contnier-input input:focus~label {
    top: -30px;
    left: 0;
    font-size: 5px;
    color: var(--text-black-900);
    font-size: 1em;
    border-radius: 1em;
    z-index: 1;
}
.contanier-prosess-change-pass form input:last-child {
    outline: none;
    border: none;
    background: var(--skin-color);
    padding: 10px;
    border-radius: 4px;
    color: var(--text-black-700);
}
.contanier-prosess-change-pass form input:last-child:hover {
    box-shadow: 3px 2px 8px rgba(0, 0, 0, .5);
}
/* End Edit Password */


/* Start Articles Page */
/* .aside-articles {
    height: auto;
} */
.aside-articles .contanier-articles {
    margin-top: 100px !important;
    position: relative;
}
.aside-articles .contanier-articles i {
    position: absolute;
    top: 6px;
    color: var(--skin-color);
    left: 3px;
}
.aside-articles .contanier-articles .search-feild {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}
.aside-articles .contanier-articles .search-feild input {
    padding: 8px 8px 8px 25px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--text-black-700);
    position: relative;
    display: inline-block;
    margin: auto;
}
.aside-articles .contanier-articles .search-feild input::after {
    content: attr(description);
    visibility: hidden;
    opacity: 0;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: -46%;
    top: 70%;
} 
.aside-articles .contanier-articles .search-feild input:focus:after {
    opacity: 1;
    visibility: visible;
}
.aside-articles .contanier-articles .search-feild button {
    border: none;
    outline: none;
    padding: 0 5px;
    background: var(--skin-color);
    color: var(--text-black-700);
    cursor: pointer;
}
.aside-articles .contanier-articles .search-feild button:hover {
    box-shadow: 0px 2px 6px rgb(0 0 0 / 50%);
}
.aside-articles .contanier-articles .title-article {
    padding: 15px;
}
.aside-articles .contanier-articles .title-article li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aside-articles .contanier-articles .title-article li span {
    max-width: 150px;
    width: 150px;
    overflow: hidden;
    font-size: 13px;
    color: var(--text-black-700);
}
.aside-articles .contanier-articles .title-article li a {
    font-size: 14px;
    margin-left: 10px;
    background: var(--bg-black-50);
    height: 22px;
    padding: 0 5px;
    border-radius: 3px;
}
.aside-articles .contanier-articles .title-article li a:hover {
    box-shadow: 0px 2px 6px rgb(0 0 0 / 50%);
}
.contanier-padding {
    position: relative;
    padding-left: 250px;
    background: var(--bg-black-900);
    overflow: hidden;
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    padding-right: 30px;
}
.contanier-padding .section-regritions {
    position: relative;
    background: var(--bg-black-100);
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    height: auto;
}
.contanier-padding .section-regritions .main-part {
    padding: 20px;
    background: var(--bg-black-50);
    margin: 20px;
}
.contanier-padding .section-regritions .cats-contaniere {
    padding-bottom: unset;
}
.contanier-padding .section-regritions .main-part h4 {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    font-weight: bold;
    position: relative;
    color: var(--text-black-700);
}
.contanier-padding .section-regritions .main-part h4 i {
    margin-right: 10px;
}
.contanier-padding .section-regritions .main-part ul {
    width: 100%;
}
.contanier-padding .section-regritions .main-part ul li {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--bg-black-900);
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-black-700);
}
.contanier-padding .section-regritions .main-part ul li a {
    color: var(--text-black-900);
}
.contanier-padding .section-regritions .main-part ul li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.contanier-padding .section-regritions .main-part ul li .to {
    color: var(--text-black-900);
}
.contanier-padding .section-regritions .main-part ul li .to i{
    margin-right: 10px;
    color: var(--skin-color);
}
.contanier-padding .section-regritions .main-part ul li .val {
    background: var(--skin-color);
    padding: 1px 10px;
    border-radius: 4px;
    color: var(--bg-black-50);
    font-size: 13px;
    font-weight: bold;
}
.contanier-padding .section-regritions .lpa a {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    color: var(--text-black-700);
}
.contanier-padding .section-regritions .lpa img {
    max-width: 100%;
    height: auto;
    padding: 3px;
    border: 1px solid #ccc;
    margin-top: 15px;
    max-height: 400px;
}
.contanier-padding .section-regritions .contanier-search-cat {
    margin-bottom: 20px;
    position: relative;
}
.contanier-padding .section-regritions .contanier-search-cat i {
    display: inline-block;
    position: absolute;
    color: var(--skin-color);
    top: 10px;
    left: 4px;
}
.contanier-padding .section-regritions .contanier-search-cat input {
    width: 100%;
    display: inline-block;
    outline: none;
    border: 1px solid var(--skin-color);
    padding: 10px 0 10px 25px;
    background: transparent;
    position: relative;
    color: var(--text-black-900);
}
.contanier-padding .section-articles {
    flex: 0 0 65%;
    background: var(--bg-black-50);
    display: flex;
    flex-direction: column;
    height: auto;
}
.contanier-padding .section-articles .article {
    padding: 40px;
}
.contanier-padding .section-articles .article img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    position: relative;
}
.contanier-padding .section-articles .article .box a {
    font-size: 20px;
    color: var(--text-black-900);
}
.contanier-padding .section-articles .article .box .excerpt {
    line-height: 2;
    color: var(--text-black-700);
}
.contanier-padding .section-articles .article .box .info-article {
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--bg-black-100);
    flex-direction: row-reverse;
}
.contanier-padding .section-articles .article .box .info-article span  {
    color: var(--text-black-700);
}
.contanier-padding .section-articles .article .box .info-article span i {
    color: var(--skin-color);
    margin-right: 10px;
}
.scroll-to-top {
    position: fixed;
    right: -60px;
    bottom: 25px;
    z-index: 9999;
    display: block;
    animation: jump ease-in-out .2s infinite;
    transition: .3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    text-align: center;
    cursor: pointer;
    font-size: 35px;
    color: var(--skin-color);
}
.scroll-to-top.show {
    right: 27px;
}
@keyframes jump {
    0% {
        bottom: 27px;
    }
    100% {
        bottom: 25px;
    }
}
.scroll-to-top span::before {
    font-family: "FontAwesome";
    content: "\f077";
    font-size: 18px;
    position: relative;
    top: 5px;
}
/* End Articles Page */

/* Start Read Article */
.constanier-article {
    padding-left: 250px;
    height: auto;
    min-height: 100vh;
}
.constanier-article h4 {
    text-align: center;
    color: var(--text-black-700);
    margin: 0 0 20px 0;
    font-size: 20px;
    padding-top: 10px;
    text-transform: capitalize;
}
.constanier-article .continet-art {
    padding: 20px;
    display: flex;
    overflow: hidden;
    gap: 20px;
}
.constanier-article .continet-art .art-img {
    width: 300px;
    height: 500px;
    max-height: 500px;
    background: var(--bg-black-50);
    padding: 0 20px;
    border: 1px solid var(--bg-black-100);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.constanier-article .continet-art .art-img img {
    width: 100%;
    max-width: 100%;
    height: 170px;
    max-height: 170px;
}
.constanier-article .continet-art .art-img .info-art {
    background: var(--bg-black-100);
    color: var(--text-black-700);
    padding: 10px;
    box-shadow: 12px 11px 10px var(--bg-black-50);
}
.constanier-article .continet-art .art-img .info-art h4 {
    font-size: 14px;
    border-bottom: 1px solid var(--bg-black-50);
    padding-bottom: 10px;
}
.constanier-article .continet-art .art-img .info-art .title {
    margin-right: 10px;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
}
.constanier-article .continet-art .art-img .info-art > div,
.constanier-article .continet-art .art-img .info-art > span {
    margin-top: 12px;
}
.constanier-article .continet-art .art-img .info-art h4 i {
    margin-right: 10px;
}
.constanier-article .continet-art .art-img .info-art .writer {
    display: block;
    text-transform: capitalize;
}
.constanier-article .continet-art .art-img .info-art .feild {
    display: block;
}
.constanier-article .continet-art .art-img .info-art .date {
    display: block;
}
.constanier-article .continet-art .art-img .info-art .reacts-statistic {
    justify-content: space-evenly;
    display: flex;
}
.constanier-article .continet-art .art-img .info-art .reacts-statistic span {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.constanier-article .continet-art .art-img .info-art .reacts-statistic span i {
    margin-right: 3px;
    color: var(--skin-color);
}
.constanier-article .continet-art .art-box {
    padding: 30px;
    margin-right: 0;
    height: auto;
    width: 100%;
    max-width: 100%;
    background: var(--bg-black-900);
}
.constanier-article .continet-art .art-box .contanier-p {
    color: var(--text-black-700);
    font-family: revert;
    margin-bottom: 30px;
    transition: 1s ease-in-out;
}
.constanier-article .continet-art .art-box .contanier-p .read-more {
    transition: all .3s ease-in-out;
}
.constanier-article .continet-art .art-box .contanier-p #re-mo {
    color: var(--skin-color);
    cursor: pointer;
}
.constanier-article .continet-art .art-box .contanier-p #re-mo:hover {
    text-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}
.constanier-article .continet-art .art-box .options {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}
.constanier-article .continet-art .art-box .options .add-comm {
    position: relative;
}
.textarea-comment  {
    outline: none;
    border: 1px solid var(--bg-black-50);
    width: 100%;
    margin: auto;
    resize: none;
    padding: 20px 75px 20px 20px; /* width btn share */
    color: var(--text-black-900);
    font-size: 16px;
    height: auto;
    overflow-y: hidden;
    background: var(--bg-black-900);
}
.share-comment-btn {
    position: absolute;
    bottom: 10px;
    display: flex;
    right: 4px;
    width: 80px;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    padding: 3px 5px;
    background: var(--bg-black-900);
    transition: .3s ease-in-out;
}
.share-comment-btn:hover {
    box-shadow: 1px 1px 6px rgb(0 0 0 / 57%);
}
.share-comment-btn i {
    color: var(--skin-color);
    margin-right: 10px;
}
.share-comment-btn .hint {
    color: var(--text-black-700);
}
.constanier-article .continet-art .art-box .options .reacts {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--bg-black-50);
    padding: 10px;
}
.constanier-article .continet-art .art-box .options .reacts .smile {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reacts .smile > span  {
    cursor: pointer;
}
.constanier-article .continet-art .art-box .options .reacts .smile span {
    margin-right: 10px;
    padding: 6px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    position: relative;
    color: var(--text-black-700);
}
.constanier-article .continet-art .art-box .options .reacts .smile span:hover {
    background: var(--bg-black-900);
}
.constanier-article .continet-art .art-box .options .reacts .smile span i {
    margin-right: 4px;
}
.description:hover:before {
    content: attr(description);
    position: absolute;
    width: auto;
    height: auto;
    display: block;
    background-color: var(--bg-black-100);
    top: 40px;
    z-index: 10000;
    box-shadow: 2px 1px 10px var(--bg-black-50);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--text-black-700);
    text-transform: capitalize;
}
.constanier-article .continet-art .art-box .options .reacts .smile span i {
    font-size: 21px;
    color: var(--skin-color);
    transition: all .3s ease-in-out;
}   
.constanier-article .continet-art .art-box .options .reacts .smile .replay i {
    margin-left: 6px;
}
.constanier-article .continet-art .art-box .options .reacts .add-comm-btn {
    background: var(--bg-black-50);
    padding: 0 10px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}
.constanier-article .continet-art .art-box .options .reacts .add-comm-btn:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 20%);
}
.constanier-article .continet-art .art-box .options .reacts .add-comm-btn i {
    color: var(--skin-color);
    margin-right: 10px;
}
.constanier-article .continet-art .art-box .options .reacts .add-comm-btn span {
    color: var(--text-black-700);
}
.constanier-article .continet-art .art-box .comments {
    margin-top: 40px;
    padding-bottom: 20px;
}
.constanier-article .continet-art .art-box .comments h4 {
    border-bottom: 1px solid var(--bg-black-50);
    padding-bottom: 15px;
}
.constanier-article .continet-art .art-box .comment {
    padding: 14px;
    background: var(--bg-black-100);
    display: flex;
    gap: 15px;
    border-bottom: 1px solid var(--bg-black-50);
}
.constanier-article .continet-art .art-box .comment:last-child {
    border: unset;
}
.constanier-article .continet-art .art-box .comment .info-writer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: var(--bg-black-50);
    padding: 10px;
    align-items: center;
    border-radius: 3px;
}
.constanier-article .continet-art .art-box .comment .info-writer img {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    border-radius: 50%;
}
.constanier-article .continet-art .art-box .comment .info-writer  a {
    color: var(--text-black-700);
}
.constanier-article .continet-art .art-box .comment .containet-comment {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.constanier-article .continet-art .art-box .comment .containet-comment .comment-p {
    color: var(--text-black-700);
    font-size: 15px;
    width: 100%;
    word-break: break-all;
}
.error-mas {
    background: var(--danger--900);
    text-align: center;
    color: var(--text-black-900);
    margin: 10px 0;
    padding: 5px;
    border-radius: 4px;
}
.save-edit-comment {
    top: 40px !important;
    height: fit-content !important;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .reacts {
    border: none;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .reacts span {
    width: 30px;
    height: 20px;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .reacts span i {
    font-size: 16px;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options  .date {
    color: var(--text-black-700);
    display: inline-block;
    font-size: 13px;
}

.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options  i:hover {
    color: var(--skin-color);
    cursor: pointer;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options .listModify {
    background: var(--bg-black-900);
    position: absolute;
    top: 33px;
    z-index: 10000;
    right: 0;
    padding: 15px 15px 4px 15px;
    width: 150px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options .listModify::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 10px solid  var(--bg-black-900);
    transform: rotate(45deg);
    border-right: transparent;
    border-bottom: transparent;
    right: 5px;
    top: -9px;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options .listModify li {
    border-bottom: 1px solid var(--bg-black-50);
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options .listModify li:last-child {
    border-bottom: unset !important;
    padding-bottom: 0 !important;
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options .listModify li:hover {
    background: var(--bg-black-50);
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options .listModify i {
    left: 7px;
    margin-right: 6px;
    color: var(--skin-color);
}
.constanier-article .continet-art .art-box .comment .containet-comment .options .footer-options .listModify span {
    color: var(--text-black-700);
}
/* End Read Article */