/* Start Index */
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    padding: 60px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 2em;
    padding: 0;
    color: var(--titles-two);
    text-align: center;
}

.login-box .user-box {
    position: relative;

}

.login-box .user-box input {
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    margin-bottom: 28px;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.SpecialCase-label {
    top: -30px !important;
    color: var(--main-cat-tow);
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    font-size: 10px;
    color: var(--main-cat-tow);
    font-size: 1em;
    border-radius: 1em;
}

.login-box form .btn-submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #1da4f2;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 4px ;
    letter-spacing: 4px;
}

.SpecialCase-btn-submit {
    height: 50px;
    padding: 0;
    width: 100px;
}

.login-box form .btn-submit:hover {
    background: #1da4f1;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1da4f2,
                0 0 25px #1da4f2,
                0 0 50px #1da4f2,
                0 0 100px #1da4f2,
}

.login-img {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}


/* End Index */


/* Start Add User  */
.contanier-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    background: linear-gradient(45deg, black, transparent);
}

.contanier-form .input-box {
    position: relative;
    width: 100%;
}

.contanier-form .input-box .input,.select {
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    margin-bottom: 28px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}

.contanier-form .input-box .file-label {
    position: absolute;
    top: -13px;
    left: 0;
}

.contanier-form .input-box .label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 ;
    pointer-events: none;
    transition: .5s;
}

.contanier-form .input-box input:focus~.label,
.contanier-form .input-box input:valid~.label {
    top: -20px;
    color: var(--main-cat-tow);
}

option {
    background: #00000073;
}

.btn-submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #1da4f2;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 4px;
    letter-spacing: 4px;
    text-align: center;
    align-items: center;
}

.btn-submit:hover {
    color: #fff;
    background: var(--main-cat-tow);
}

/* End Add User  */

/* Start Edit User */



/* End Edit User */



/* Start Dashbors */


.dashbord {
    display: grid;
    height: 80%;
    margin-top: 30px;
    grid-template-columns: 1fr 9fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: repeat(auto-fill, 1fr);
    column-gap: 20px;
}

.contant-sidbar {
    grid-row: 1 / 3;
    background: linear-gradient(45deg, black, transparent);
    margin-left: 9px;
    text-align: center;
    padding: 20px;

}

.contant-sidbar .name {
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: space-around;
}

.contant-sidbar .small-img {
    width: 30px;
    height: 30px;
    margin-right: 13px;
    top: -4px;
    position: relative;
    border-radius: 2px;
}


.contant-sidbar ul li {
    margin-bottom: 20px;
    padding: 9px;
    border-radius: 10px;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.contant-sidbar ul li:hover {
    opacity: .6;
    transform: perspective(100px) translateZ(10px);
}

.contant-sidbar ul li i {
    position: relative;
    left: -5px;
}

.contant-sidbar ul li a {
    color: white;
}

.contant-sidbar ul hr {
    margin-bottom: 20px;
    height: 0.5px;
    width: 50%;
    transform: translate(50%, 0);
}

.img-user-aside {
    width: 170px;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.containt-section {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 5fr;
    row-gap: 15px;
    margin-right: 15px;
}

.contant-status-cards {
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-evenly;
}

.contant-status-cards .status-card {
    width: calc(100% / 5);
    background-color: #ce596d8c;
    margin-left: 10px;
    border-radius: 1px;
    display: flex;
    justify-content: space-around;
}

.vertical-line {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.vertical-line::after {
    content: "";
    width: 2px;
    height: 60px;
    background-color: #777;
    position: absolute;
    transform: translate(50px, -3px);
}

.vertical-line i {
    font-size: 25px;
}

.status-card  a {
    font-size: 25px;
    color: white;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    font-size: 20px;
}

.status-card  a:hover {
    opacity: .6;
    transform: perspective(100px) translateZ(10px);
}

.indication-card {
    display: inline;
    top: 40%;
    position: relative;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

.statistics {
    grid-column: 1 / 5;
    background: linear-gradient(45deg, black, transparent);
}

/* End Dashbors */


/* Start Edit Profile Page  */

.container-edit-form {
    display: grid;
    grid-template-columns: 100px 3fr 100px 2fr ;
    grid-template-rows: 100px 1fr 100px;
    height: inherit;
    column-gap: 10px;
}

.form-edit {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / 3;
    background-color: var(--bbackground-color);
    border-radius: 20px;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.container-feild {
    margin-bottom: 10px;
}

.form-edit label {
    display: block;
    margin-bottom: 5px;
    position: relative;
    left: 35px;
}

.form-edit .container-feild i {
    position: absolute;
    transform: translate(267px, 10px);
    color: black;
}

.input-edit-feild {
    width: 300px;
    padding: 10px;
    border-radius: 2px;
    outline: none;
    margin-left: 10px;
}

.file-input {
    background-color: white;
}

.container-edit-form textarea {
    outline: none;
    padding: 10px;
}

.img-user {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    width: fit-content;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
}

.img-user img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

/* End Edit Profile Page  */


/* Start Show User */

.contanier-table {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 60px 1fr;
    width: 100%;
}

.contanier-table .additions {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



@media(max-width: 767px){
    .additions {
        display: flex;
        flex-direction: column-reverse;
    }
}
.contanier-table .additions .search {
    display: inline;
}

.contanier-table .additions .search  i {
    color: black;
    position: relative;
    left: 25px;
}

.contanier-table .additions .search  input {
    padding: 8px 25px;
    width: 400px;
    border-radius: 5px;
    outline: none;
    opacity: .8;
}

.contanier-table .additions .counters {
    display: flex;
}


.contanier-table .additions .counters a  div span:nth-child(1) {
    color: white;
}


.contanier-table .additions .counters a  div span:nth-child(2) {
    font-weight: bold;
    font-size: 19px;
    margin: 0 0 0 5px;
    color: var(--color-cat-three);
}


.dashbord-show-users-table {
    grid-column: 2 / 3;
    grid-row-start: 2;
}

.contanier-table .add-member-in-users {
    background-color: var(--bbackground-color);
    padding: 10px;
    margin-left: 5px;
    transition: .2s ease-in-out;
    color: white;
}

.contanier-table .add-member-in-users:hover {
    transform: perspective(100px) translateZ(10px);
    background-color: var(--bbackground-color);

    opacity: .6;
}

.dashbord-show-users-table  thead tr {
    background-color: var(--titels);
    padding: 10px;
    border-width: 0 1px;
}

.dashbord-show-users-table  thead tr td {
    padding: 5px 2px;
    text-align: center;
}

.dashbord-show-users-table tbody  {
    background-color: #ed646473;
}

.dashbord-show-users-table tbody tr td {
    padding: 4px 0 4px 0;
    text-align: center;
}

.dashbord-show-users-table button {
    background-color: transparent;
    outline: none;
    border: none;
}

.dashbord-show-users-table tbody .process-btn {
    color: white;
    position: relative;
    font-size: 20px;
}

.process-btn:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: -46%;
    top: 70%;   
}

.process-btn:hover:before {
    opacity: 1;
    visibility: visible;
}

/* End Show User */



/* Start Articals */
.articles .options {
    display: flex;
    max-width: 700px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media( max-width: 500px) {
    .articles .options > a,
    .articles .options > table,
    .articles .options > span {
        width: calc(700px / 3);
    }
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 100px;
    padding: 0 50px 0 50px;
}
.articles .container .box-article {
    padding: 20px;
    background: linear-gradient(45deg, black, transparent);
    overflow: hidden;
    transition: transform .2s;
    border-radius: 10px;
}
.articles .container .box-article:hover {
    transform: perspective(100px)  translateZ(5px);
}
.articles .container .box-article img {
    max-width: 100%;
    width: 100%;
}
.articles .container .box-article .content {
    padding: 10px;
}
.articles .container .box-article .content h3 {
    font-size: 15px;
    text-align: center;
}
.articles .container .box-article .content p {
    padding: 10px 10px 10px 10px;
    height: 100px;
    overflow: hidden;
    background: #161616;
    margin-top: 10px;
}
.articles .container .box-article .options-article {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6e6e7;
    align-items: center;
}
.articles .container .box-article .options-article a {
    color: var(--titles-two);
}
.articles .container .box-article .options-article i {
    color: var(--titles-two);
}
.articles .container .box-article:hover .options-article i:not(.no-move) {
    animation: moving-arrow .6s linear infinite;
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
/* End Articals */


/* Start Add Artical */
.body-add-article {
    height: inherit;
    display: grid;
    grid-template-columns: 100px 2fr 1fr 100px;
    grid-template-rows: 30px 1fr 30px;
    align-items: center;
}


.body-add-article img {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.body-add-article   form {
    grid-column: 2/3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-add-article   form div {
    display: inline;
    margin: 10px 0 10px 0;
}

.body-add-article  form div:last-child {
    width: 100%;
}

.body-add-article  form div .file {
    background-color: white;
}

.body-add-article  form div textarea {
    width: 90%;
    margin-left: 30px;


}

.body-add-article  form div label {
    display: block;
    width: fit-content;
    position: relative;
    left: 40px;
    margin-bottom: 5px;
}

.body-add-article   form div i {
    
    position: relative;
    left: 93%;
    color: black;
    opacity: .6;

}

@media(max-width: 767px) {
    .body-add-article {
        grid-template-rows: 30px 192px 1fr;
        grid-template-columns: 200px 1fr 100px;
        align-items: self-start;
    }

    .body-add-article img {
        grid-column: 2 / 3;
        margin: 0;
        transform: translateX(50%);
    }

    .body-add-article   form  {
        grid-row: 3 / 4;
    }
}

/* End Add Artical */


/* Start Category */
.page-category {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}


.page-category .category {
    background-color: var(--color-cards);
    padding: 20px;
    width: 300px;
    margin: 10px;
}

.page-category .category .content-category h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.page-category .category .content-category h4:hover {
    opacity: .6;
}

.page-category .category .info-category .date-category {
    font-size: 14px;
    position: relative;
    left: 77%;
    top: 15px;
    opacity: .6;
    width: fit-content;
}

.page-category .category .info-category .layout {
    margin-top: 10px;
}

.page-category .category .info-category .layout .optins a {
    color: white;
    margin-right: 10px;
    transition: .5s;
}



.page-category .category .info-category .layout   a {
    color: white;
    display: inline;
}

.page-category .category .info-category .layout .optins {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}




/* Add */
.body-add-category {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 100px;
}

.body-add-category form {
    grid-column: 2 / 3;
    grid-row: 2 /3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body-add-category form div label {
    display: block;
    margin: 0;
    padding: 0;
    width: fit-content;
    left: 20px;
    position: relative;
}

.body-add-category form div  i {
    position: relative;
    width: fit-content;
    display: block;
    color: black;
    opacity: .6;
    left: 50%;
    top: 30px;
}


.body-add-category form div input {
    padding: 10px 0 10px 10px;
    display: block;
}
/* End Category */


/* Start Profile */
.content-profile {
    display: flex;
    width: 100%;
    padding: 20px;
}
.content-profile aside {
    background: linear-gradient(45deg, black, transparent);
    padding: 20px;
    flex-shrink: 1;
    width: 300px;
}
.content-profile .aside-profile .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content-profile .aside-profile .header .name-user {
    width: 100%;
    margin-bottom: 15px;
}

.content-profile .aside-profile .header .name-user img {
    width: 5rem;
    height: 5rem;
}

.content-profile .aside-profile .header .name-user .img {
    display: inline-block;
}

.content-profile .aside-profile .header .name-user .name {
    position: relative;
    display: inline-block;
    top: -15px;
    margin-left: 10px;
}
.content-profile .aside-profile  .link  {
    display: block;
    margin: 20px 0 0 0;
}
.content-profile .aside-profile .bio {
    margin: 10px 0 10px 0;
}
.content-profile .aside-profile  h5 {
    margin-bottom: 10px;
}

.content-profile .aside-profile  .location span {
    margin-right: 10px;
}
.content-profile .aside-profile   a span {
    margin-right: 10px;
}


.content-profile .aside-profile .langs {
    margin: 10px 0 20px 0 ;
}

.content-profile .aside-profile .lang {
    margin: 10px 0;
}

.content-profile .aside-profile .skills {
    margin: 10px 0 20px 0 ;
}

.content-profile .aside-profile .skill {
    margin: 10px 0;
}
.content-profile .aside-profile .skill meter {
    width: 100%;
}

.contant-section {
    flex-grow: 3;
    padding: 20px;
    background: linear-gradient(45deg, black, transparent);
    margin-left: 30px;
}
.contant-section  .cats {
    display: flex;
    margin-bottom: 20px;
    padding: 5px 10px;
}
.contant-section  .cats span {
    margin-right: 10px;
    background-color: #777;
    padding: 5px;
}

.contant-section .articles {
    background: var(--bbackground-color);
    padding: 20px;
}
.contant-section .articles ul li {
    margin: 10px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.contant-section .articles ul li .btn-read {
    height: fit-content;
    background-color: var(--color-cards);
    padding: 5px;
}
.contant-section .articles ul li:nth-child(odd) {
    /* background: #07292a; */
    background: linear-gradient(45deg, #8c8c8c, transparent);
}

.contant-section .articles ul li:nth-child(even) {
    opacity: .6;
}
/* End Profile */


/* Start Filter By Tag */
.show-article-cat {
    background-color: var(--bbackground-color);
    grid-column: 1 / 5;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 200px));
    padding: 20px;
}

.show-article-cat .article {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
}

.show-article-cat .article img {
    width: 100%;
    height: 140px;
}

.show-article-cat .article .info-article {
    width: 100%;

}

.show-article-cat .article .info-article .title {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 5px;
}

.show-article-cat .article .info-article  .info-art {
    display: flex;

    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.show-article-cat .article .info-article  .info-art  a {
    color: white;
}


.show-article-cat .article .info-article  .info-art .date {
    font-size: 14px;
    opacity: .6;
}

.showcat {
    grid-column: 2 / 4;
    text-align: center;
    color: var(--titels);
    font-size: 40px;
    font-weight: bold;
}


/* End Filter By Tag */

/* Start Show Article */
.contanier-show-article {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    padding: 5em 5em 0 5em;
    margin: 0 auto;
    gap: 40px;
}
.contanier-show-article aside {
    background: linear-gradient(-45deg, black, transparent);
    padding: 20px;
}
.contanier-show-article aside table {
    width: 100%;
}
.contanier-show-article aside ul {
    margin: 20px 0;
}
.contanier-show-article aside ul li {
    margin: 10px;
    border-bottom: 1px solid #e6e6e7;
    padding: 7px;
}
.contanier-show-article section {
    display: flex;
    padding: 20px;
    background: #8c8c8c;
    color: black;
    line-height: 1.3;
}

.contanier-show-article section  .info-article {
    width: 500px;
}

.contanier-show-article section  .info-article img {
    max-width: 300px;
    width: 300px;
    height: 200px;
}
.contanier-show-article section  .info-article .opt-article {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--sun-theam);
    padding: 8px;
    color: var(--main-cat-tow);
    width: 200px;
}
.contanier-show-article section  .info-article .opt-article  a {
    color: var(--main-cat-tow);
}
.contanier-show-article section  .content {
    flex-grow: 1;
    padding: 20px;
}

.contanier-show-article section .content h3 {
    text-align: center;
    margin: 20px 0;
}
.contanier-show-article section  .content p {
    word-break: break-word;
    
}
/* End Show Article */