
/* Start Index */
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    padding: 60px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

.login-box h2 {
    margin: 0 0 2em;
    padding: 0;
    color: var(--titles-two);
    text-align: center;
}

.login-box .user-box {
    position: relative;

}
.login-box .user-box input {
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    margin-bottom: 28px;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.SpecialCase-label {
    top: -30px !important;
    color: var(--main-cat-tow);
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    font-size: 10px;
    color: var(--main-cat-tow);
    font-size: 1em;
    border-radius: 1em;
}

.login-box form .btn-submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #1da4f2;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 4px ;
    letter-spacing: 4px;
}

.SpecialCase-btn-submit {
    height: 50px;
    padding: 0;
    width: 100px;
}

.login-box form .btn-submit:hover {
    background: #1da4f1;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1da4f2,
                0 0 25px #1da4f2,
                0 0 50px #1da4f2,
                0 0 100px #1da4f2,
}

.login-img {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}


/* End Index */


/* Start Add User  */
.form-add-user  {
    display: flex;
    justify-content: center;
    max-width: 100%;
    position: relative;
}
.form-add-user form > div i {
    position: absolute;
    top: 27%;
    transform: translateY(-50%);
    left: 8px;
    color: var(--skin-color);
}
.form-add-user .input-add-user {
    min-width: 300px;
    outline: none;
    margin-bottom: 30px;
    background-color: transparent;
    border: 1px solid var(--skin-color);
    color: var(--text-black-700);
    padding: 10px 10px 10px 30px;
}
.form-add-user label {
    position: absolute;
    left: 0;
    color: transparent;
    transition: all .3s ease-in-out;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.form-add-user .input-add-user:focus ~ label {
    top: -20px;
    color: var(--text-black-700);
}
/* End Add User  */

/* Start Edit User */
.layout-edit-profile {
    background-image: url(../images/edit_profile_layout.jpg);
    height: 250px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.layout-edit-profile .opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 75%);
}
.layout-edit-profile img {
    width: 100px;
    height: 100px;
    z-index: 10;
    position: relative;
}

.layout-edit-profile .image  .change-image {
    z-index: 100;
    position: absolute;
    background: #FFF;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: .7;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.layout-edit-profile .image  .change-image i {
    font-size: 36px;
}
.layout-edit-profile .image:hover .change-image {
    display: flex;
}
.layout-edit-profile .name .name {
    text-transform: capitalize;
}
.layout-edit-profile .name {
    color: var(--bg-black-900);
    z-index: 100;
    font-size: 20px;
}
.layout-edit-profile .name .id-name span:first-child {
    font-size: 13px;
    margin-right: 10px;
}
.layout-edit-profile .name .id-name span:last-child {
    font-size: 18px;
    color: #ffff;
}
.edit-user-structer {
    min-height: 100vh;
}
.edit-user-structer aside {
    width: 30%;
    min-height: 600px;
    padding: 20px;
}
.edit-user-structer aside li {
    margin-bottom: 15px;
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--text-black-700);
    cursor: pointer;
}
.edit-user-structer aside li.active,
.edit-user-structer aside li:hover {
    background-color: var(--skin-color);
}
.edit-user-structer aside li i {
    color: var(--skin-color);
    transition: color .3s ease-in-out;
}
.edit-user-structer aside li:hover i,
.edit-user-structer aside li.active i {
    color: var(--bg-black-900);
}
.edit-user-structer section {
    width: 70%;
    padding: 15px;
    min-height: 600px;
    position: relative;
    box-shadow: 0 15px 15px 7px rgb(0 0 0 / 8%);
    top: -60px;
    z-index: 105;
    background: var(--bg-black-100);
    border-radius: 10px;
}
.edit-user-structer section > div {
    box-shadow: 0 2px 10px #ddd;
    padding: 10px;
}
.edit-user-structer .contanier-feild {
    background-color: var(--bg-black-900);
}
.edit-user-structer .contanier-feild .content-feild {
    flex: 1;
}
.edit-user-structer .contanier-feild .name-feild {
    color: var(--text-black-700);
    font-weight: bold;
    margin-right: 30px;
}
.edit-user-structer .contanier-feild .containt-reg-db {
    color: var(--text-black-700);
    transition: all .3s ease-in-out;
}

.edit-user-structer .contanier-feild .contanier-proccess {
    transition: all .3s ease-in-out;
}
.edit-user-structer .contanier-feild .contanier-proccess input,
.edit-user-structer .contanier-feild .contanier-proccess select,
.edit-user-structer .contanier-feild .contanier-proccess textarea {
    padding: 6px 0px 6px 5px;
    outline: none;
    border: none;
    background-color: var(--bg-black-100);
    color: var(--text-black-700);
}
.edit-user-structer .contanier-feild .contanier-proccess textarea {
    width: 90%;
    min-height: 100px;
    resize: none;
    padding: 10px;
}
.edit-user-structer .contanier-feild .contanier-proccess input:focus {
    border: 1px solid var(--skin-color);
}
.edit-user-structer .contanier-feild .contanier-proccess .btns button {
    outline: none;
    border: none;
    padding: 4px 8px;
    background-color: var(--skin-color);
    color: var(--text-black-700);
    margin-top: 5px;
    border-radius: 2px;
    cursor: pointer;
    height: fit-content;
}
.edit-user-structer .contanier-feild .contanier-proccess .btns button:hover {
    color: var(--bg-black-900);
}
.edit-user-structer .contanier-feild .contanier-proccess.kick-out,
.edit-user-structer .contanier-feild .containt-reg-db.kick-out {
    position: absolute;
    opacity: 0;
    right: -100%;
}

.edit-user-structer .contanier-feild .edit-btn {
    color: var(--text-black-700);
    cursor: pointer;
    background-color: var(--skin-color);
    padding: 3px 5px;
    border-radius: 3px;
    height: fit-content;
}
.edit-user-structer .contanier-feild .edit-btn:hover {
    box-shadow: 0px 0px 8px #0000004d;
}
/* End Edit User */



/* Start Dashbors */

/* Start Edit Profile Page  */

.container-edit-form {
    display: grid;
    grid-template-columns: 100px 3fr 100px 2fr ;
    grid-template-rows: 100px 1fr 100px;
    height: inherit;
    column-gap: 10px;
}

.form-edit {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / 3;
    background-color: var(--bbackground-color);
    border-radius: 20px;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.container-feild {
    margin-bottom: 10px;
}

.form-edit label {
    display: block;
    margin-bottom: 5px;
    position: relative;
    left: 35px;
}

.form-edit .container-feild i {
    position: absolute;
    transform: translate(267px, 10px);
    color: black;
}

.input-edit-feild {
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    outline: none;
    margin-left: 10px;
    border: 1px solid var(--skin-color);
    background-color: var(--bg-black-900);
}

.file-input {
    background-color: white;
}

.container-edit-form textarea {
    outline: none;
    padding: 10px;
}

.img-user {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    width: fit-content;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
}

.img-user img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

/* End Edit Profile Page  */
/* Start Articals */
.filters-header {
    background-color: var(--bg-black-50);
}
.filters-header .contanter-drobown-minus .dropdown-minu,
.filters-header .add-meamber {
    background-color: var(--bg-black-100);
}
.filters-header button {
    outline: none;
    border: none;
    width: auto;
    color: var(--text-black-700);
    background: none;
    position: relative;
}
.filters-header button i {
    transition: opacity .5s ease-in-out;
    opacity: 0;
    position: absolute;
    left: 0;
    color: transparent;
}
.filters-header button i.active {
    opacity: 1;
    position: relative;
    color: var(--skin-color);
}
.filters-header .dropdown-minu ul {
    position: absolute;
    width: 200px;
    transition: opacity .4s ease-in-out;
    pointer-events: none;
    left: 0;
    top: calc(100% - -12px);
    background: var(--bg-black-100);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.filters-header .dropdown-minu ul li:first-child {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px #ddd;
}
.filters-header .dropdown-minu ul li:last-child {
    border-bottom: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}
.filters-header .dropdown-minu ul li:first-child i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    color: var(--skin-color);
}
.filters-header .dropdown-minu ul li .search-li {
    outline: none;
    border: none;
    padding: 5px 30px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    background: transparent;
}
.filters-header .dropdown-minu ul::-webkit-scrollbar {
    width: 0;
}
.filters-header .dropdown-minu ul.active {
    pointer-events: auto;
    opacity: 1;
}
.filters-header .dropdown-minu ul::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--bg-black-100);
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    left: 5px;
}
.filters-header .dropdown-minu ul li {
    color: var(--text-black-700);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--bg-black-50);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}
.filters-header .dropdown-minu ul li:last-child {
    margin-bottom: 0;
    border-bottom: unset;
    padding-bottom: unset;
}
.filters-header .dropdown-minu ul li:hover {
    background-color: var(--bg-black-900);
}
.filters-header .add-meamber {
    padding: 8px 18px;
    font-size: 14px;
    color: var(--text-black-700);
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
.filters-header .add-meamber:hover {
    box-shadow: 2px 3px 1px #00000036;
}
.search i {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 6px;
    color: var(--skin-color);
    font-size: 20px;
}

.search input {
    padding: 10px 10px 10px 30px;
    border: 1px solid var(--bg-black-50);
    width: 200px;
    transition: width .4s ease-in-out;
    background: var(--bg-black-900);
    color: var(--text-black-700);
}
.search input:focus {
    width: 250px;
}
.content-page .article {
    background: var(--bg-black-100);
    transition: all 1s ease-in-out;
}
.content-page .article img {
    width: 100%;
    max-width: 100%;
    height: 230px;
    max-height: 230px;
}
.content-page .article .content-article h4 {
    color: var(--text-black-900);
    font-size: 18px;
    background: var(--bg-black-50);
    padding: 5px;
}
.content-page .article .content-article .brief {
    background-color: var(--bg-black-900);
    padding: 4px 5px;
}
.content-page .article .content-article .brief span {
    color: var(--text-black-700);
}
.content-page .article .content-article .brief span:first-child {
    background: var(--bg-black-50);
    padding: 0 9px;
}
.content-page .article .content-article .brief span:last-child {
    margin: 5px;
    font-size: 15px;
}
.content-page .article .content-article .info-article {
    color: var(--text-black-700);
    margin-bottom: 5px;
    border-bottom: 1px solid var(--bg-black-50);
}
.content-page .article .content-article .count-reactions {
    border-bottom: 1px solid var(--bg-black-50);
}
.content-page .article .content-article .count-reactions span  {
    margin-right: 15px;
    cursor: pointer;
}
.content-page .article .content-article .count-reactions span i {
    color: var(--skin-color);
    font-size: 18px;
}
.content-page .article .content-article .options-artile,
.content-page .article .content-article .options-artile a  {
    color: var(--skin-color);
}
@media(max-width: 999px) {
    .content-page .article img {
        padding: 0;
        margin: 0 0 5px 0;
        width: 100%;
        max-width: 100%;
    }
}
@media(max-width: 767px) {
    .content-page .article img {
        padding: 0;
        margin: 0 0 5px 0;
        width: 100%;
        max-width: 100%;
    }
    .search input {
        width: 20px;
    }
}

/* Start Add Artical */
.contaner-form-add-article {
    width: 100%;
}
.add-article-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.input {
    min-width: 300px;
    outline: none;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--skin-color);
    color: var(--text-black-700);
}
.input:not(textarea) {
    padding: 10px 0px 10px 30px;
}
.area-article {
    padding: 10px;
}
.i-form-input {
    position: absolute;
    transform: translateY( 50%);
    color: var(--skin-color);
    left: 6px;
    top: 4px;
}
input[type="submit"] {
    width: 100px;
}
/* End Add Artical */


/* Start Category */
.page-category {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}


.page-category .category {
    background-color: var(--color-cards);
    padding: 20px;
    width: 300px;
    margin: 10px;
}

.page-category .category .content-category h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.page-category .category .content-category h4:hover {
    opacity: .6;
}

.page-category .category .info-category .date-category {
    font-size: 14px;
    position: relative;
    left: 77%;
    top: 15px;
    opacity: .6;
    width: fit-content;
}

.page-category .category .info-category .layout {
    margin-top: 10px;
}

.page-category .category .info-category .layout .optins a {
    color: white;
    margin-right: 10px;
    transition: .5s;
}



.page-category .category .info-category .layout   a {
    color: white;
    display: inline;
}

.page-category .category .info-category .layout .optins {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
/* Add */
.body-add-category {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 100px;
}

.body-add-category form {
    grid-column: 2 / 3;
    grid-row: 2 /3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body-add-category form div label {
    display: block;
    margin: 0;
    padding: 0;
    width: fit-content;
    left: 20px;
    position: relative;
}

.body-add-category form div  i {
    position: relative;
    width: fit-content;
    display: block;
    color: black;
    opacity: .6;
    left: 50%;
    top: 30px;
}


.body-add-category form div input {
    padding: 10px 0 10px 10px;
    display: block;
}
/* End Category */


/* Start Profile */
.content-profile {
    display: flex;
    width: 100%;
    padding: 20px;
}
.content-profile aside {
    background: linear-gradient(45deg, black, transparent);
    padding: 20px;
    flex-shrink: 1;
    width: 300px;
}
.content-profile .aside-profile .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content-profile .aside-profile .header .name-user {
    width: 100%;
    margin-bottom: 15px;
}

.content-profile .aside-profile .header .name-user img {
    width: 5rem;
    height: 5rem;
}

.content-profile .aside-profile .header .name-user .img {
    display: inline-block;
}

.content-profile .aside-profile .header .name-user .name {
    position: relative;
    display: inline-block;
    top: -15px;
    margin-left: 10px;
}
.content-profile .aside-profile  .link  {
    display: block;
    margin: 20px 0 0 0;
}
.content-profile .aside-profile .bio {
    margin: 10px 0 10px 0;
}
.content-profile .aside-profile  h5 {
    margin-bottom: 10px;
}

.content-profile .aside-profile  .location span {
    margin-right: 10px;
}
.content-profile .aside-profile   a span {
    margin-right: 10px;
}


.content-profile .aside-profile .langs {
    margin: 10px 0 20px 0 ;
}

.content-profile .aside-profile .lang {
    margin: 10px 0;
}

.content-profile .aside-profile .skills {
    margin: 10px 0 20px 0 ;
}

.content-profile .aside-profile .skill {
    margin: 10px 0;
}


.contant-section {
    flex-grow: 3;
    padding: 20px;
    background: linear-gradient(45deg, black, transparent);
    margin-left: 30px;
}
.contant-section  .header-contaner {
    display: flex;
    margin-bottom: 20px;
    padding: 5px 10px;
}
.contant-section  .header-contaner .categoreis-dropdown {
    margin-right: 10px;
    background-color: #777;
    padding: 5px;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.contant-section  .header-contaner .categoreis-dropdown span i:last-child{
    display: none;
}

.contant-section  .header-contaner ul {
    display: none;
    position: absolute;
    background-color: #b1b1b1;
    color: black;
    padding: 12px;
    top: 129px;
    width: 231px;
    z-index: 100;
    height: 300px;
    overflow-y: scroll;
}

.contant-section  .header-contaner li,
.contant-section  .header-contaner li i {
    display: inline-block;
}

.contant-section  .header-contaner   #search-cats {
    outline: none;
    padding: 9px 0 9px 34px;
    width: 100%;
    border: 2px solid;
    background: transparent;
    border-radius: 2px;
    font-size: 17px;
    color: white;
}
.contant-section  .header-contaner li i {
    position: absolute;
    left: 31px;
    top: 32px;
    color: #777;
    margin-right: 4px;
}
.contant-section  .header-contaner  ul::before {
    content: "";
    position: absolute;
    border: 18px #777 solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    top: -36px;
    left: 3px;
}
.contant-section  .header-contaner  ul li {
    padding: 7px;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.contant-section  .header-contaner  ul li:not(:last-child) {
    border-bottom: 1px solid black;
}

.contant-section .articles {
    background: var(--bbackground-color);
    padding: 20px;
}
.contant-section .articles ul li {
    margin: 10px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.contant-section .articles ul li .btn-read {
    height: fit-content;
    background-color: var(--color-cards);
    padding: 5px;
}
.contant-section .articles ul li:nth-child(odd) {
    background: linear-gradient(45deg, #8c8c8c, transparent);
}

.contant-section .articles ul li:nth-child(even) {
    opacity: .6;
    border: 1px solid #6e6e6e;
}
/* End Profile */


/* Start Filter By Tag */
.show-article-cat {
    background-color: var(--bbackground-color);
    grid-column: 1 / 5;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 200px));
    padding: 20px;
}

.show-article-cat .article {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
}

.show-article-cat .article img {
    width: 100%;
    height: 140px;
}

.show-article-cat .article .info-article {
    width: 100%;

}

.show-article-cat .article .info-article .title {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 5px;
}

.show-article-cat .article .info-article  .info-art {
    display: flex;

    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.show-article-cat .article .info-article  .info-art  a {
    color: white;
}


.show-article-cat .article .info-article  .info-art .date {
    font-size: 14px;
    opacity: .6;
}

.showcat {
    grid-column: 2 / 4;
    text-align: center;
    color: var(--titels);
    font-size: 40px;
    font-weight: bold;
}


/* End Filter By Tag */

/* Start Show Article */
.content-page-read-article {
    background-color: var(--bg-black-100);
    margin: 0px 20px;
    gap: 20px;
}
.content-page-read-article aside {
    background-color: var(--bg-black-900);
    padding: 20px;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 700px;
}
.content-page-read-article aside::-webkit-scrollbar {
    width: 0;
}
.contaner-search-input  {
    margin-bottom: 25px;
    width: 100%;
}
.contaner-search-inpu .search-input {
    width: 100%;
}
.search-input {
    position: relative;
    padding: 11px 8px 11px 30px;
    outline: none;
    border: none;
    background: transparent;
    transition: border .3s ease-in-out;
    box-shadow: 1px 1px 10px #ddd;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    z-index: 100;
    transform: translateY(-50%);
    top: 50%;
    left: 4px;
    color: var(--skin-color);
}
.content-page-read-article .info-article {
    display: flex;
    flex-direction: row-reverse;
}
.content-page-read-article  .option-article {
    background-color: var(--bg-black-900);
    padding: 10px;
}
.content-page-read-article  .option-article .process-btn {
    cursor: pointer;
    color: var(--skin-color);
}
.content-page-read-article  .option-article .date {
    color: var(--text-black-700);
}
.content-page-read-article .info-article  img {
    flex: 2;
    max-height: 400px;
    padding: 10px;

}
.content-page-read-article .article-content {
    padding: 5px 20px;
}
.content-page-read-article  .article-content h3 {
    padding: 10px;
    color: var(--text-black-700);
}
.content-page-read-article  .article-content p {
    color: var(--text-black-900);
    line-height: 2;
}
/* Start Edit Article */
.body-add-article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.body-add-article textarea {
    width: 200px;
    height: 200px;
    resize: none;
}
.body-add-article img {
    width: 300px;
    max-height: 300px;
    margin-bottom: 30px;
}
/* End Edit Article */
@media(max-width: 999px) {
    .content-page-read-article {
        flex-direction: column;
    }
    .content-page-read-article aside {
        max-height: 200px;
    }
    .content-page-read-article .info-article img {
        max-width: 100%;
    }
    .body-add-article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body-add-article img,
    .body-add-article form {
        width: 100%;
    }
}
/* End Show Article */
/* Start Users */
.additions .users-statistics {
    outline: none;
    border: 1px solid var(--skin-color);
    padding: 9px 19px;
    color: var(--text-black-700);
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}
.additions .users-statistics .angels i {
    opacity: 0;
    position: absolute;
    color: var(--skin-color);
}
.additions .users-statistics .angels i.show {
    opacity: 1;
    display: inline-block;
    position: relative;
}
.additions .users-statistics .links {
    transition: opacity .3s ease-in-out;
    position: absolute;
    background-color: var(--bg-black-50);
    padding: 20px;
    transform: translateX(-50%);
    left: 0;
    top: 50px;
    white-space: nowrap;
    border: 1px solid var(--bg-black-50);
    /* display: none; */
    opacity: 0;
    pointer-events: none;
}
.additions .users-statistics .links.show {
    opacity: 1;
    /* display: block; */
    pointer-events: auto;
}
.additions .users-statistics .links::before  {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: var(--bg-black-50);
    transform: rotate(45deg);
    top: -10px;
    right: 6px;
    box-shadow: 0 0 10px #ddd;
    border: 1px solid var(--bg-black-50);
    z-index: -10;
}
.additions .users-statistics .links  li {
    text-align: left;
    padding-bottom: 5px 10px;
    margin-bottom: 15px;
}
.additions .users-statistics .links  li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.additions .users-statistics .links  li:hover {
    background-color: var(--bg-black-900);
}
.additions .users-statistics .links  li i {
    color: var(--skin-color);
}
@media(max-width: 430px) {
    .additions {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}
/* End Users */